<section class="menu container mx-auto py-8">
    <h1 class="text-xl font-bold mb-8">All Thali</h1>
    <div class="grid grid-cols-4 col-gap-12 row-gap-16">
        
       <% Wepons.forEach(function(thali){ %><!--//which key we pass in homecontroller is come here.-->
        <div class="w-64 px-2 py-2" >
            <img class="h-40 mb-4 mx-auto" src="/img/<%= thali.image %>">
            <div class="text-center">
                <h2 class="mb-4 text-lg"><%= thali.name %></h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs"><%= thali.size %></span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg"><%= thali.price %></span>
                    <button data-thali="<%=JSON.stringify(thali)%>" class="add-to-cart py-1 px-6  flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
       </div>
     <%  }) %> 
        

    </div>
   </section>